<!DOCTYPE HTML>
<html>
  <head></head>
  <body>
    <form action="/new" method="POST">
      <label for="title">Title:</label>
      <input id="title" name="title" type="text">
    </form>
  </body>
</html>